<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入示範</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <h2>請選擇登入方式</h2>

        <!-- 本地登入 -->
        <form method="POST" action="/local-login">
            <label for="username">帳號</label>
            <input type="text" id="username" name="username" required placeholder="輸入帳號">

            <label for="password">密碼</label>
            <input type="password" id="password" name="password" required placeholder="輸入密碼">

            <button type="submit" class="btn">本地登入</button>
        </form>
			<a href="{{ url_for('google_login') }}">
				<button class="btn_google">
					<img src="/static/images/google.png" 
						alt="Google Logo" class="google_icon">
					使用 Google 帳戶登入
				</button>
			</a>
        <a href="{{ url_for('back') }}" class="return-link">返回</a>
    </div>
</body>
</html>
