<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_console.css') }}">
    <title>使用者主控台</title>
	<div class="header">AI管家</div>
</head>
<body>
	<input type="text" id="userNameBox" readonly>
	<button id="editButton" onclick="toggleEdit()">修改</button>
	<button onclick="getUserData()">查詢使用者資料</button>
	<!-- "新增水族箱" 按鈕，放在 header 下方 -->
	<div id="add-aquarium-container">
		<a href="{{ url_for('web.add_aqur') }}" id="add-aquarium-btn">
			+
		</a>
	</div>
	<a href="{{ url_for('web.index') }}">
        <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    </a>
    <h1>歡迎, {{ name }}</h1>
    <p>你的 Email: {{ email }}</p>
	<img src="{{ user_picture }}" alt="使用者頭像" width="100" height="100" class="profile-pic">
	    <!-- 聊天視窗 -->
    <div id="chat-box">
        <div id="chat-box-header" onclick="toggleChatBox()">AI管家</div>
        <div id="chat-box-body"></div>
        <div id="chat-box-footer">
            <input type="text" id="chat-input" placeholder="輸入訊息..." onkeydown="handleKeyPress(event)">
            <button id="send-button" onclick="sendChatMessage()">送出</button>
        </div>
    </div>
    <button id="chat-button" onclick="toggleChatBox()">與AI管家聊天</button>
	</div>
    <h2>我的水族箱</h2>
    <div class="aquarium-container">
        {% for aquarium in aquariums %}
        <div class="aquarium">
			<a href="{{ url_for('web.aqur_console') }}" class="aquarium-link" data-aquarium-id="{{ aquarium.aquarium_id }}">
				<img src="{{ url_for('static', filename='images/aqur_image.jpg') }}" alt="水族箱圖片">
			</a>
            <p>{{ aquarium.aquarium_name }}</p>
            <div class="menu">
                <button onclick="openMenu('{{ aquarium.aquarium_id }}')">⋮</button>
                <div id="menu-{{ aquarium.aquarium_id }}" class="dropdown-menu">

                </div>                    <button onclick="editAquariumName('{{ aquarium.aquarium_id }}')">修改名稱</button>
                    <button onclick="deleteAquarium('{{ aquarium.aquarium_id }}')">刪除</button>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
<script src="{{ url_for('static', filename='js/user_console.js') }}"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</html>
