<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI管家</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<div class="header">AI管家</div>
</head>
<body>
    
    <div class="menu">
	    <div class="dropdown">
            <span style="color: red; cursor: pointer;">登入/註冊</span>
            <div class="dropdown-content">
                <a href="/Login"><img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" alt="LINE Logo" width="20">登入</a>
				<!-- <a href="register.html">註冊</a>  -->
            </div>
        </div>
        <div class="dropdown">
            <span style="color: red; cursor: pointer;">實況畫面</span>
            <div class="dropdown-content">
                <a href="#">攝影機1</a>
                <a href="#">攝影機2</a>
            </div>
        </div>
        <div class="dropdown">
            <span style="color: red; cursor: pointer;">AI助理</span>
            <div class="dropdown-content">
                <a href="#">語音控制</a>
                <a href="#">設備狀態</a>
            </div>
        </div>
    </div>
	<h2 >請輸入內容</h2>
	<input type="text" id="userInput" placeholder="輸入字串">
    <button onclick="sendData()">發送到 Flask</button>
	
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	
	<div class="AI_communication">
		<h2 id="title"></h2>
		<input type="text" id="userInputQuation" placeholder="魚類知識問答">
		<button onclick="sendQuation()">送出問題</button>
		
	</div>
</body>
</html>
